body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #9000b924 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.jumbotron.jumbotron-fluid {
  margin-bottom: 0;
  background-image: url(./imagenes/img_banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 125px 0px 125px 0px;
  position: relative;
}

.btn.btn-primary.ver-mas {
  width: 102px;
  margin: auto;
  margin-bottom: 15px;
}

.tarjetas.card {
  width: 200px;
  margin: 20px auto 20px auto;
  height: 340px;
  border: none;
  box-shadow: 0px 15px 30px rgba(23, 26, 41, 0.14);
  border-radius: 10px;
}

.card-title {
  text-align: center;
}

footer {
  background-color: #343a40!important;
  padding: 20px 0px 20px 0px;
  text-align: center;
  color: #fff;
  margin-top: 50px;
}

.navbar {
  margin-bottom: 50px;
}

.buscador {
  margin-right: 15px;
}

.buscador.form-control {
  width: 320px;
}

.ficha-personajes {
  box-shadow: 0px 15px 30px rgba(23, 26, 41, 0.14);
  background-color: #fff;
}

.ficha-personajes {
  box-shadow: 0px 15px 30px rgba(23, 26, 41, 0.14);
  background-color: #fff;
  display: flex;
  margin: 100px auto;
  width: 100%;
  padding: 15px 0px 15px;
  border-radius: 10px;
}

.listado-personajes {
  list-style: none;
  font-size: 25px;
}

.listado-personajes li {
  margin-bottom: 15px;
}

.volver-atras {
  margin-left: 40px;
  text-decoration: underline;
  font-weight: bold;
}

.tarjetas.locacion {
  height: 200px;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}

.dimension {
  background-color: #efdbf5;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
}

.episodios {
  background-color: #ddff0063;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
}

.formularios {
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  margin-top: 100px;
  box-shadow: 0px 15px 30px rgba(23, 26, 41, 0.14);
}

.col-tarjetas.col {
  flex-grow: 0;
}

/* MediaQuery */

@media(max-width: 767px) {
  .ficha-personajes {
    flex-direction: column;
    width: auto;
  }
  .listado-personajes {
    margin-top: 15px;
    padding-left: 0px;
  }
  .volver-atras {
    margin-left: 0px;
  }
}

@media (max-width: 375px) {
  .ficha-personajes {
    width: 90%;
  }
}